$cols:				12;
$colpad:			2%;

@mixin __clearfix(){
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

@mixin container($container_width: 60em) {
	width: $container_width;
	margin: 0px auto;
	@include __clearfix();
}


@mixin col($col: 1){

	$colpadtotal: ($colpad) * ($cols - 1);
	$colwidth: (100%/$cols) - ($colpadtotal/$cols);
	$thiscolwidth: ($colwidth*$col)+($colpad*($col - 1));

	display: inline-block;
	float: left;
	width: $thiscolwidth;
	margin-right: $colpad;
	@include __clearfix();
	
}

@mixin offsetcol($col: 1, $offset: 1){

	$colpadtotal: ($colpad) * ($cols - 1);
	$colwidth: (100%/$cols) - ($colpadtotal/$cols);
	$offsetwidth: ($colwidth*$offset)+($colpad*($offset - 1));

	@include col($col);

	margin-left: $offsetwidth;

}

@mixin lastcol($col: 1){
	@include col($col);
	margin-right: 0;
}